<header class="site-header">

	<div class="fip-bar">
		<a href="{{ site.data.i18n[page.lang].shared_services_canada_url | default: site.data.i18n.en.shared_services_canada_url }}" aria-label="{{ site.data.i18n[page.lang].shared_services_canada | default: site.data.i18n.en.shared_services_canada }}">
			<img src="{{ site.baseurl }}/assets/img/ssc-fip-wht-{{ page.lang | default: 'en' }}.svg" class="fip" alt="{{ site.data.i18n[page.lang].shared_services_canada | default: site.data.i18n.en.shared_services_canada }}" >
		</a>
		{% if page.hide != true and page.lang %}
		<section id="lang-swap">
			<h2 class="inv">{{ site.data.i18n[page.lang].language_swap }}</h2>
			<ul>
				{% assign posts = site.posts | where:"ref", page.ref | sort: 'lang' %}
				{% assign pages = site.pages | where:"ref", page.ref | sort: 'lang' %}
				{% assign all_content = posts | concat: pages %}
				{% for content in all_content %}
					{% if content.lang != page.lang %}
						<li><a class="page-link" lang="{{ content.lang }}" hreflang="{{ content.lang }}" href="{{ content.url | prepend: site.baseurl }}">{{ site.data.i18n[content.lang].language }}</a></li>
						{% break %}
					{% endif %}
				{% endfor %}  
			</ul>

		</section>
		{% endif %}
	</div>

	<div class="branding">
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/{{ site.data.i18n[page.lang].home_url }}">
				<img src="{{ site.baseurl }}/assets/img/dtf-logo.svg" alt="" >
				<span class="hide-mobile">
					{{ site.data.i18n[page.lang].meta_title | default: site.data.i18n.en.meta_title }}
				</span>
				<span class="show-mobile">
					<span class="inv">{{ site.data.i18n[page.lang].meta_title | default: site.data.i18n.en.meta_title }} - </span>{{ site.data.i18n[page.lang].meta_title_acronym | default: site.data.i18n.en.meta_title_acronym }}
				</span>				
			</a>
		</h1>
	</div>	
</header>
