<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{% if page.title and page.lang %}
			{{ page.title }} - {{ site.data.i18n[page.lang].meta_title }}
		{% else %} 
			{{ site.data.i18n.en.meta_title }} - {{ site.data.i18n.fr.meta_title }}
		{% endif %}
	</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.i18n[page.lang].meta_description | default: site.data.i18n.en.meta_description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Didact+Gothic&display=swap">
	<link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">
	
</head>