@mixin header-bar {
  @extend %padding-small;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
}

.site-header { 

  .fip-bar {
    @include header-bar;

    font-size: .9em;
    background: #000;

    a,
    a:hover,
    a:visited {
      color: #fff;
    }

    .fip {
      width: 300px;
      height: auto;
    }    
  }

  .branding {
    @include header-bar;  
    border-bottom: 1px solid $border-color;
    
    a {
      color: $header-link-color;
    }    
  }

  .site-title {    
    font-weight: bold;
    font-size: 1em;

    a {
      display: inline-block;
      img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-right: 10px;
      }      
    }
  }

  #main-menu {
    position: fixed;
    top: 0;
    right: -30%;
    height: 100%;
    z-index: 10;

    width: 30%;
    padding: 4em 2em; 
    background: #fff;
    border-left: 1px solid $border-color;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    transition: right .5s;

    &.active {
      right: 0;
    }

    ul {
      list-style: none;
      a {
        display: block;
        padding: .5em 0;
        border-top:  1px solid $border-color;
      }
    }

    .close {
      position: absolute;
      top: 1.5em;
      right: 2em;
      border: 0;
      background: 0;
      width: 20px;
      height: 20px;
    }

    @media (max-width: 1000px) {
      & {
        right: -50%;
        width: 50%;
      }
    } 
    @media (max-width: 576px) {
      & {
        right: -80%;
        width: 80%;
      }
    }    
  }

  #lang-swap {
    ul {
      position: relative;
      top: -2px;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
    }
    li {
      display: inline-block;
      margin-right: 1em;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        display: inline-block;
      }
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
      }
    }
  }
}
