@mixin header-bar {
  @extend %padding-small;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
}

.site-header { 

  .fip-bar {
    @include header-bar;

    font-size: .9em;
    background: #000;

    a,
    a:hover,
    a:visited {
      color: #fff;
    }

    .fip {
      width: 300px;
      height: auto;
    }    
  }

  .branding {
    @include header-bar;  
    border-bottom: 1px solid $border-color;
    
    a {
      color: $header-link-color;
    }    
  }

  .site-title {    
    font-weight: bold;
    font-size: 1em;

    a {
      display: inline-block;
      img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-right: 10px;
      }      
    }
  }

  #lang-swap {
    ul {
      position: relative;
      top: -2px;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
    }
    li {
      display: inline-block;
      margin-right: 1em;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        display: inline-block;
      }
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
      }
    }
  }
}
